$sc:25;
@mixin ul(){
    margin: 0;
    padding: 0;
    list-style: none;
}
html{
    width: 100%;
    height: 100%;
    body{
        @extend html;
        margin: 0;
        padding-top: 70/$sc+rem;
        header{
            width: 100%;
            height: 70/$sc+rem;
            position: fixed;
            top: 0;
            background: #0dc441;
            ul{
                width: 100%;
                height: 70/$sc+rem;
                display: flex;
                justify-content: space-between;
                
                @include ul;
                li{
                    color: #fff;
                    margin: 10px;
                    &:nth-child(2){
                        width: 150/$sc+rem;
                    
                    }
                }
                
            }
        }
    }
}
